header {
    box-shadow: 0px 0px 4px 3px #dadada;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    padding: 15px 35px;

    .nav-container {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    p {
        text-align: center;
    }

    .rate {
        margin-inline-end: 10px;
    }
}