footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    text-align: right;
    padding-inline: 10px;
    background-color: rgb(22, 22, 22);
    box-shadow: 0px 0px 4px 3px #dadada;
    height: 50px;

}