header {
    background-color: $clr1;
    color: $bg-clr;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 15px 35px;

    p {
        text-align: center;
    }

}