header {
    background-color: rgb(22, 22, 22);
    box-shadow: 0px 0px 4px 3px #dadada;

    .header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 10vh;
        padding-block: 15px;
    }


    .nav-container {
        display: flex;
        align-items: center;
        gap: 15px;
    }


    a {
        margin-inline-start: 1em;
        color: aliceblue;
        text-decoration: none;

        &:hover {
            color: gold;
        }
    }

    .router-link-active {
        color: gold;
        font-weight: bold;
    }

    p {
        text-align: center;
    }

    .rate {
        margin-inline-end: 10px;
    }
}