.contact-preview-list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 250px));
    gap: 25px;
    padding: 0;
    margin: 0;
    justify-content: center;


    .contact-preview {
        text-align: center;
        border: 2px solid $clr3;
        border-radius: 5px;
        padding: 15px;
        position: relative;
    }

    .btn-remove {
        position: absolute;
        text-align: right;
        right: 0px;
        top: 0px;
        font-size: 1.25em;
        background: none;
        color: inherit;
        border: none;
        cursor: pointer;


        &:hover {
            box-shadow: none;
            background-color: red;
            color: $clr3;
        }
    }

    .preview-actions {
        display: flex;
        justify-content: space-between;
    }

}

.list-move,
/* apply transition to moving elements */
.list-enter-active,
.list-leave-active {
    transition: all 0.5s ease;
}

.list-enter-from,
.list-leave-to {
    opacity: 0;
    transform: translateX(30px);
}

/* ensure leaving items are taken out of layout flow so that moving
animations can be calculated correctly. */
.list-leave-active {
    position: absolute;
}