.side-bar-menu-section {
    box-shadow: 3px 0px 4px 0px $bx-shdw-clr;
    padding-block-start: 30px;
    width: 180px;
}

nav {
    display: grid;
    gap: 15px;
    padding-inline: 35px;


    a {
        color: $clr3;
        text-decoration: none;
        font-size: 1.2rem;

        &:hover {
            color: $clr2;

        }
    }

    .router-link-active {
        color: $clr2;
        font-weight: bold;
    }

}