.transfer-funds-section {
    margin-block-end: 30px;

    form {
        // margin: 0 auto;
        width: 250px;
        // text-align: center;
        // padding: 30px;
    }

    input {
        padding: 7px;
        border-radius: 4px;
    }
}