.transfer-funds-section {
    margin-block-end: 30px;

    form {
        // margin: 0 auto;
        width: 250px;
        // text-align: center;
        // padding: 30px;
    }

    fieldset {
        padding: 20px;
    }

    legend {
        display: block;
        padding-inline-start: 10px;
        padding-inline-end: 10px;
        font-size: 1.1em;
    }

    input {
        padding: 7px;
        border-radius: 4px;
    }
}