.transfer-funds-section {
    margin: 0 auto;

    form {
        width: 250px;
    }

    fieldset {
        padding: 20px;
    }

    legend {
        display: block;
        padding-inline-start: 10px;
        padding-inline-end: 10px;
        font-size: 1.1em;
    }

}