.contact-edit-selection {

    .contact-edit-container {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-block-end: 20px;

        img {
            object-fit: cover;
            width: 150px;
            justify-self: flex-start;
            border-radius: 50%;
        }

        a {
            margin-inline-start: 20px;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        input {
            padding: 5px;
        }

        .btn-save {
            width: fit-content;
            margin-top: 10px;
        }
    }

}