.contact-edit-selection {
    flex-grow: 1;
    padding: 25px 35px;

    .contact-edit-container {
        display: flex;
        flex-direction: column-reverse;
        align-items: start;
        gap: 30px;
        margin-block-end: 20px;

        a {
            margin-inline-start: 20px;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .btn-save {
            width: fit-content;
            margin-top: 10px;
            padding: 8px 20px;
        }
    }

}

@include for-narrow-layout {
    .contact-edit-selection {
        .contact-edit-container {
            flex-direction: row;
            gap: 100px;
        }
    }
}