.contact-details-selection {
    margin: 0 auto;
    flex-grow: 1;
    padding: 35px;

    .contact-details-container {
        display: flex;
        align-items: center;
        gap: 20px;
        // justify-content: center;
        margin-block-end: 20px;

        img {
            object-fit: cover;
            width: 150px;
            border-radius: 50%;
        }

        a {
            //   justify-self: end;
            margin-inline-start: 20px;
        }

    }

    // button {
    //     padding: 4px 8px;
    //     cursor: pointer;
    // }
}